.results-container
  .result
    display inline-block
    border 1px solid gray
    border-radius 5px
    padding 1em 1.5em
    margin-right 0.8em
    margin-bottom 0.5em
    background-color lightsalmon
